<% include ./partials/header %>

<div class = "container">


<p class= "contact-intro">Drop A Line.</p>


<div class ="contact-icons">
    
    <!--<a href="https://github.com/epad333" class = "github mr-3"><i class="fab fa-github"></i></a>-->
    
    <a href="mailto:epadilla1027@gmail.com" class = "email mr-3"><i class="far fa-envelope"></i></a>
    
     <a href="https://www.linkedin.com/in/edgar-padilla-946ba8180/" class = "linkedin mr-3"><i class="fab fa-linkedin"></i></a>
    
    
</div>





</div>

<% include ./partials/footer %>