
<% include ./partials/header %>




<div class = "banner"></div>

<p class = "description mt-4 mb-4">      <strong>Hi, I'm Edgar.</strong> <br> I enjoy the challenge of learning how to use new technologies. Technology is always progressing, but having to continuously learn excites me and I look forward to it.
Having said this, I believe that ideas come first, tools come second. Once I have defined a goal, I will find a way and persist until I reach it. Feel free to look through some of my <a href = "/projects">projects</a>, or 
  <a href = "/contact">contact me</a>. </p>
 
 
 


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-1">
      <h4 class="panel-title">
        <a id = "toolkit"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
          { Tool-Kit }<br>
        
        
        </a>
      </h4>
    </div>
    <div id="collapse-1"  class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1">
      <div class="panel-body">
          <p><span class = "category">Languages:</span> Java, JavaScript</p>
          <hr>
          <p><span class = "category">Front-End:</span> HTML, CSS (Flexbox, CSS Grid), JavaScript (JQuery)</p>
          <hr>
          <p><span class = "category">Back-End:</span> Node.js (Express), MongoDB, Mongoose, REST APIs</p>
          <hr>
          <p><span class = "category">Application Software:</span> Git, npm</p>
          
          
        

        
      </div>
    </div>

  </div>      
      
</div>
    
 





<% include ./partials/footer %>