<% include ./partials/header %>

<div class = "container">


<h5 class= "mt-5 mb-3"><strong>Stadion (Back-End Development)</strong></h5>
<div class = "row">
    
    <div class = " col-md-6 ">
    
        <img class = "stadion-pic img-fluid " alt="Responsive image" src= "/Images/stadionPic.png">
    </div>
    <div class = "details col-md-6">
        <p>> <a class = "site-link" href = "https://stadion333.herokuapp.com/">View Site</a></p>
        <p>> <a class = "code-link" href = "#">View Code</a></p>
        <p class= "project-description">Stadium review site with the following features: <br>
        
        <strong>-</strong> User registration<br>
        <strong>-</strong> Passport.js authentication<br>
        <strong>-</strong> Stadium reviews (comments)   <br>
        <strong>-</strong> Bootstrap and responsive images  <br>
        <strong>-</strong> Image upload  <br>
        <strong>-</strong> REST API design<br>
        <strong>-</strong> Google Maps API<br>
        
        <p><em>Made with: <strong>MongoDB, Express, Node.js, EJS</strong></em></p>
        
        
        
        
        </p>
    
    </div>

</div>

<hr class = "projects ">

<h5 class= "mt-5 mb-3"><strong>Android Application</strong></h5>

<div class = "row">
    
    <div class = " col-md-6 ">
    
        <img class = "events-pic img-fluid " alt="Responsive image" src= "/Images/epadEventsPic.png">
    </div>
    <div class = " details col-md-6">
        <p>> <a class = "code-link" href = "#">View Code</a></p>
        <p class= "project-description">Android App with the following features: <br>
        
       
        
        <strong>-</strong> Add and Save Events<br>
        <strong>-</strong> Settings Fragment<br>
        <strong>-</strong> Use of Calendar View <br>
        <strong>-</strong> Share with friends<br>
        
        <p><em>Made with: <strong>Android Studio, Java</strong></em></p>
    
    </div>

</div>

<hr class = "projects">


<h5 class= "mt-5 mb-3"><strong>Blog (Back-End Development)</strong></h5>

<div class = "row">
    
    <div class = " col-md-6 ">
    
        <img class = " img-fluid " alt="Responsive image" src= "/Images/blogWithAuth.png">
    </div>
    <div class = " details col-md-6">
        <p>> <a class = "site-link" href = "https://futblog.herokuapp.com/">View Site</a></p>
        <p>> <a class = "code-link" href = "#">View Code</a></p>
        <p class= "project-description">Stadium review site with the following features: <br>
        
        <strong>-</strong> Twitter OAuth<br>
        <strong>-</strong> Create, edit, and delete blog entries<br>
        <strong>-</strong> Semantic UI <br>
        <strong>-</strong> REST API design<br>
        
        <p><em>Made with: <strong>MongoDB, Express, Node.js, EJS</strong></em></p>
        
        
        
        </p>
        
    
    </div>

</div>

<hr class = "projects">
    


<!--<img class = "epad-events-pic" src= "/Images/epadEventsPic.png">-->


</div>


<% include ./partials/footer %>